@{
ViewData["Title"] = "Panel de Empleado";
}
<h2>Panel Empleado</h2>
<ul>
<li><a asp-controller="Products" asp-action="Index">Gestión de Productos</a></li>
<li><a asp-controller="Users" asp-action="Index">Gestión de Usuarios</a></li>
<li><a asp-controller="Reports" asp-action="Index">Reportes</a></li>
</ul>