<li class="d-none d-lg-block">
    <a id="btnOpenWishlist" href="#" class="text-uppercase mx-2 text-decoration-none nav-link-enhanced position-relative" title="Lista de deseos">
        <i class="fas fa-heart me-1"></i>Wishlist
        <span class="wishlist-count badge-enhanced">(0)</span>
    </a>
</li>